.header {
  text-align: center;
  font-size: 3rem;
  margin-top: 10px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  width: 600px;
  box-shadow: 0 10px 10px lightGrey;
}

.card-container span {
  font-weight: bold;
  text-transform: capitalize;
}

.read-more {
  text-decoration: none;
  font-weight: bold;
}

.read-more:visited {
  color: blue;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-block: 40px;
}

.loader {
  display: flex;
  justify-content: center;
}

.error{
  text-align: center;
  color: red;
  font-size: 1.5rem;
}